@model UWT.Web.Models.ImageEditorModel
<div class="col-md-12">
    @Html.Label(Model.Label, new { @class = "col-md-12" })
    <input type="file" @(Model.Required ? Html.Raw("required") : null) name="@Model.FieldName" class="form-control" onchange="readURL_@(Model.FieldName)(this);" />
    <img id="img@(Model.FieldName)" src="@Model.DefaultImage" alt="" class="img-thumbnail" style="max-height: 180px; margin-top: 10px" />
</div>
<script>
    function readURL_@(Model.FieldName)(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img@(Model.FieldName)').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

