@using System.Globalization
@using Newtonsoft.Json
@model double[][]

<div id="graph-wrapper">
    <div class="graph-info">
        <a href="#" id="lines" class="active"><span></span></a>
    </div>

    <div class="graph-container">
        <div id="graph-lines"></div>
    </div>
</div>

<script>
    $(function() {
        var graphData = [@Html.Raw(JsonConvert.SerializeObject(Model))];
        $.plot($('#graph-lines'), graphData, {
            series: {
                points: { show: true, radius: 5 },
                lines: { show: true },
                shadowSize: 0
            },
            grid: {
                color: '#646464',
                borderColor: 'transparent',
                borderWidth: 20,
                hoverable: true
            },
            xaxis: {
                min: 1,
                max: @Model.Length,
                tickDecimals:0
            },
            yaxis: {
                min: 0,
                max: @Model.Max(m => m[1]).ToString(CultureInfo.InvariantCulture) + 50           
            }
        });
 
        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css({ top: y - 16, left: x + 20 }).appendTo('body').fadeIn();
        }
 
        var previousPoint = null;
 
        $('#graph-lines, #graph-bars').bind('plothover', function (event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;
                    $('#tooltip').remove();
                    var x = item.datapoint[0],
                        y = item.datapoint[1];
                    showTooltip(item.pageX, item.pageY, x.toFixed(0) + " - " + y.toFixed(2));
                }
            } else {
                $('#tooltip').remove();
                previousPoint = null;
            }
        });
    });
</script>
