@using UWT.Web.Extensions
@model IEnumerable<UWT.Web.Models.ShopViewModel>
@{
    Layout = "~/Views/Shared/_ShopsLayout.cshtml";
    ViewBag.Title = "All shops";
}

<header class="sb-page-header">
    <div class="container">
        <h1>Dobro došli u naš trgovački centar!</h1>
        <p>Imate izbor između @Model.Count() trgovina i @Model.GetProducts().Count() proizvoda!</p>
        <div id="carbonads-container">
            <div class="carbonad">
                <div id="azcarbon"></div>
            </div>
        </div>

    </div>
</header>

<div class="container">
    @foreach (var shop in Model)
    {
        @Html.Partial("ShopThumbnail", shop, ViewData)
    }
</div>