@using Newtonsoft.Json
@model IEnumerable<UWT.Web.Models.UserViewModel>

@{
    ViewBag.Title = "Users";
    ViewBag.MainTitle = "Korisnici";
    ViewBag.AngularController = "UsersController";
}

<table class="table table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <th></th>
            <th>Email</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Kontakt broj</th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users" style="vertical-align: central">
            <td>
                <img class="img-thumbnail table-image" src="~/Content/Images/{{user.ProfileImage}}" alt="Profilna slika" />
            </td>
            <td>{{user.Email}}</td>
            <td>{{user.Name}}</td>
            <td>{{user.Surname}}</td>
            <td>{{user.PhoneNumber}}</td>
            <td>
                <div class="pull-right">
                    <button class="btn btn-sm btn-default" ng-click="user.block('@Url.Action("BlockUser")')" ng-hide="user.Blocked" data-tag="{{UserName}}">Blokiraj</button>
                    <button class="btn btn-sm btn-danger" ng-click="user.unblock('@Url.Action("UnblockUser")')" ng-show="user.Blocked" data-tag="{{UserName}}">Odblokiraj</button>
                </div>
            </td>
        </tr>
    </tbody>

</table>

@section controllers {
    <script>
        var usersController = new UsersController(@Html.Raw(JsonConvert.SerializeObject(Model.ToList())));
    </script>
}